<div class="container">
 <h3>登録済み一覧</h3>
  <table class="table">
    <thead>
      <tr>
        <td> マッチ</td> 
        <td> 日付</td>
        <td> 開始時間</td> 
        <td> 場所</td> 
      </tr>
    </thead>
    <% @event_listings.each do |event_listing| %>
      <tr>
        <td> <%= link_to event_listing.capacity, event_listing %> </td>
        <td> <%= event_listing.deadline %> </td> 
        <td> <%= event_listing.message %> </td> 
      </tr>
    <% end %>
  </table>
</div>
