<footer class="text-center footer-blue">
  <div class="container p-4 pb-0">
    <h4 class="text-center">Register for free</h4>
  </div>
  <div class="text-center p-3 footer-copyright">
    <p>© CHUNICHI DRAGONS 当サイト上で使用しているゲーム画像の著作権および商標権、その他知的財産権は、当該コンテンツの提供元に帰属します。</p>
    <p>© 2023 Copyright: Yuya Takahashi</p>
  </div>
</footer>
