<div class="container">
 <h3>登録済み一覧</h3>
  <table class="table">
    <thead>
      <tr>
        <td> マッチ</td> 
        <td> 日付</td>
        <td> 開始時間</td> 
        <td> 場所</td> 
      </tr>
    </thead>
    <% @events.each do |event| %>
      <tr>
        <td> <%= link_to event.match, event %> </td> 
        <td> <%= event.date %> </td> 
        <td> <%= event.start_time %> </td> 
        <td> <%= event.location %> </td> 
      </tr>
    <% end %>
  </table>
</div>
