<div class="container d-flex justify-content-center">
    <div class="row col-md-8 custyle">
      <% @results.each do |event| %>
        <% event.event_listings.each do |event_listing| %>
          <%= render 'shared/event_listing_card', event_listing: event_listing %>
        <% end %>
      <% end %>
    </div>
</div>
