<div class="container my-5">
<h3>予約内容の確認</h3>

<p><strong>観戦試合:</strong> <%= @event.match %></p>
<p><strong>観戦日:</strong> <%= @event.date %></p>
<p><strong>開始時間:</strong> <%= @event.start_time %></p>
<p><strong>観戦場所:</strong> <%= @event.location %></p>

