@import "bootstrap";
.navbar{
  background-color: #0a4275;
}
.errors-messages{
  color: red;
}
.alert{
  margin-bottom: 0;
}
.card-image{
  width: 45px;
  height: 45px;
}
.user-name {
  text-decoration: none;
}
.footer-blue{
  color: white;
  background-color: #0a4275;
}
.footer-copyright{
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
